* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.header {
  height: 124px;
  border: 1px solid red;
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
}

.main {

}

.footer {
  height: 156px;
  border: 1px solid red;
}

.footer-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
}

.footer-nav {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}
